<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue.js 2 - First impression</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="app">
      <!-- @click - short form v-on:click -->
      <!-- :href - short form v-bind:href -->
      <div
        class="demo"
        :style="{backgroundColor: color}"
      ></div>
      <div class="demo"
        :style="myStyle"
      ></div>
      <div class="demo"
        :style="[myStyle, {height: width + 'px'}]"      
      ></div>
      <hr>
      <input type="text" v-model="color">
      <input type="text" v-model="width">
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
